{
  "extends": [
    "airbnb",
    "prettier",
    "plugin:react/recommended"
  ],
  "env": {
    "browser": true,
    "node": true
  },
  "plugins": ["prettier"],
  "rules": {
    "prettier/prettier": ["error"]
  }
}
